body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

footer{
    background-color: black;
    color: lightgreen;
    padding: 20px 0;
    border-top: 1px solid lightgreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.main-site{
    display: flex;
    flex-direction: row;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,100,0,1));
}

.main-site li {
    list-style-type: none;
}

.movies-list{
    margin-top: 120px;
    padding: 0px;
}

.movie-card{
    position: relative;
    width: 237px;
    height: 350px;
    transition: transform 0.2s;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.movie-card:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: transform 0.2s;
}

.movie-poster{
    position: absolute;
    top: 0;
    left: 0;
}

.movie-poster img{
    border-radius: 4px;
}

.movie-details{
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    text-align: left;
    margin-top: 0px;
}

.movie-info{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;
}

.movie-title{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    text-align: left;
    text-shadow: 2px 2px 16px #000000;
}

.movie-title h3{
    color: white;
    margin: 0px;
}

.movie-description{
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: right;
}

.movie-description p{
    margin-bottom: 2px;
}

.movie-description a{
    color: white;
    text-decoration: underline;
}

.movie-gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 90%);
    border-radius: 4px;
}

.movie-filters{
    position: static;
    top: 120px;
    left: 0px;
    background-color: red;
    width: 50px;
    height: full;
}